<template>
  <div class="user-playlists">
    <h2>My Playlists</h2>
     <div class="search-div">
        <div class="search-box">
          <button class="btn-search" @click="search"><img src="@/assets/search.png"/></button>
          <input type="text" class="input-search" placeholder="Type to Search..." v-model="searchValue">
        </div>
        <button class="btn-cancel" @click="cancelSearch"><img src="@/assets/close.png"/></button>

      </div>
    <div v-if="playlists">
      <ListView :playlists="playlists" />
    </div>
    <div class="empty-search" v-if="isEmptySearch">Does not found any playlist with that title.</div>
    <router-link :to="{ name: 'CreatePlaylist' }" class="btn">Create a New Playlist</router-link>
  </div>
</template>

<script>
import { ref } from 'vue'
import getUser from '@/composables/getUser'
import getCollection from '@/composables/getCollection'
import ListView from '@/components/ListView.vue'
export default {
  components: { ListView },
  setup() {
    const { user } = getUser()
    const isEmptySearch = ref(false)
    const searchValue = ref('')
    const { documents: playlists } = getCollection(
      'playlists', 
      ['userId', '==', user.value.uid]
    )
    const { documents1: playlists1 } = getCollection(
      'playlists', 
      ['userId', '==', user.value.uid]
    )
      const search = () => {
      playlists.value = playlists1._rawValue;
      playlists.value =  playlists._rawValue.filter((value) => {
          return value.title.toLowerCase().includes(searchValue.value.toLowerCase())
      })
      if(playlists._rawValue.length == 0){
        isEmptySearch.value = true;
      }else {
        isEmptySearch.value = false;
      }
    }
    const cancelSearch = () => {
      playlists.value = playlists1._rawValue;
      searchValue.value = ''
      isEmptySearch.value = false;
    }
    return { playlists, search, cancelSearch, playlists1, searchValue, isEmptySearch, isEmptySearch }
  }
}
</script>

<style scoped>
  h2 {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--secondary)
  }
  .btn {
    margin-top: 20px;
  }
  .search-div{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: green;
  padding-right: 40px;
  color:black;
}
.input-search::placeholder{
  color:var(--primary);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:var(--warning) ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:hover,
.btn-cancel:hover{
  background: unset;
  color: unset;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid green;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid green;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.btn-search img{
    position: absolute;
    top: 12px;
    left: 14px;
}
.document-div{
  position: relative;
}
.btn-cancel{
    position: relative;
    top: -7px;
    background-color: transparent;
}
.btn-cancel img{
  height: 30px;
}
.empty-search{
  color: var(--warning);
    text-align: center;
    margin-top: 100px;
    height: 100px;
}
</style>