<template>
  <div class="home">
    <div v-if="error" class="error">Could not fetch the data</div>
    <div v-if="documents" class="document-div">
      <div class="search-div">
        <div class="search-box">
          <button class="btn-search" @click="search"><img src="@/assets/search.png"/></button>
          <input type="text" class="input-search" placeholder="Type to Search..." v-model="searchValue">
        </div>
        <button class="btn-cancel" @click="cancelSearch"><img src="@/assets/close.png"/></button>

      </div>
      <ListView :playlists="documents" />
    </div>
    <div class="empty-search" v-if="isEmptySearch">Does not found any playlist with that title.</div>

  </div>
</template>

<script>
import { ref } from 'vue'
import JwPagination from 'jw-vue-pagination';
import ListView from '../components/ListView.vue'
import getCollection from '../composables/getCollection'

export default {
  name: 'Home',
  components: { ListView, JwPagination},
  setup() {
    const searchValue = ref('')
    const isEmptySearch = ref(false)
    const pageOfItems = ref([])
    const { error, documents } = getCollection('playlists',
     ['private', '==', false])
         const { error1, documents1 } = getCollection('playlists',
     ['private', '==', false])
     console.log(JwPagination)
    const search = () => {
      documents.value = documents1._rawValue;
      documents.value =  documents._rawValue.filter((value) => {
          return value.title.toLowerCase().includes(searchValue.value.toLowerCase())
      })
      if(documents._rawValue.length == 0){
        console.log("?")
        isEmptySearch.value = true;
      }else {
        isEmptySearch.value = false;
      }

    }
    const cancelSearch = () => {
      documents.value = documents1._rawValue;
      searchValue.value = ''
      isEmptySearch.value = false;
    }
    const onChangePage = (item) =>{
            console.log(item)
            pageOfItems.value = item;
        }
    return { error, documents, searchValue, search, error1, documents1, cancelSearch, isEmptySearch}
  }
}
</script>
<style >
.search-div{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: green;
  padding-right: 40px;
  color:black;
}
.input-search::placeholder{
  color:var(--primary);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:red ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:hover,
.btn-cancel:hover{
  background: unset;
  color: unset;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid green;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid green;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.btn-search img{
    position: absolute;
    top: 12px;
    left: 14px;
}
.document-div{
  position: relative;
}
.btn-cancel{
    position: relative;
    top: -7px;
    background-color: transparent;
}
.btn-cancel img{
  height: 30px;
}
.empty-search{
  color: var(--warning);
    text-align: center;
    margin-top: 100px;
    height: 100px;
}
</style>