<template>
  <div class="add-song">
    <button v-if="!showForm" @click="showForm = true">Add Songs</button>
    <form v-if="showForm" @submit.prevent="handleSubmit">
      <h4>Add a New Song</h4>
      <input type="text" placeholder="Song title" required v-model="title">
      <input type="text" placeholder="Artist" required v-model="artist">
      <button @click="execute" class="search-button"><img src="@/assets/search.png"/></button>
      <input type="text" placeholder="Search song source" class="search-input" v-model="search">
      <input type="text" placeholder="Video url" required v-model="videoUrl" :disabled="true" class="video-url">
      <div v-if="showVideos" class="video-div">
        <div class="cards" >
          <div  v-for="id in ids" :key="id" class="card" v-bind:style= "[videoUrl == id ? {'background-color':'var(--secondary)'} : {'background-color':'transparent'}]">
            <iframe  v-bind:src="id" title="Video" class="video-frame" frameBorder="0"></iframe>
            <label class="container">
              <input type="radio" name="radio" @click="selectedDiv(id)">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <button>Add</button>
      <div></div>
    </form>
  </div>
</template>

<script>
import { ref } from 'vue'
import useDocument from '../composables/useDocument'
export default {
  props: ['playlist'],
  setup(props) {
    const title = ref('')
    const artist = ref('')
    const showForm = ref(false)
    const showVideos = ref(false)
    const search = ref('')
    const videoUrl = ref('')
    const ids = ref([])
    const { updateDoc } = useDocument('playlists', props.playlist.id)
    const handleSubmit = async () => {
      console.log(videoUrl.value)
      if(videoUrl.value.length>0){
      const newSong = {
        title: title.value,
        artist: artist.value,
        videoUrl: videoUrl.value,
        id: Math.floor(Math.random() * 1000000)
      }
      const res = await updateDoc({
        songs: [...props.playlist.songs, newSong]
      })
      title.value = ''
      artist.value = ''
      videoUrl.value = ''
      search.value = ''
      showVideos.value = false
      }else{
        alert('You need to select video!')
      }
    }
    const execute = () => {
      if(search.value.length > 0){
        let searchValue = search.value.replaceAll(' ','+')
        console.log(searchValue)
        fetch('https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyDDvaRD-SfZdshDQi4NCglMvyOr5QqjhDw&type=video&part=snippet&maxResults=10&q=' + searchValue ).then(response => response.json()).then(data =>{
          console.log(data);
          ids.value = [];
          let list = [];
          let items = data.items;
          for(let i = 0; i < items.length; i++){
            let url = 'https://www.youtube.com/embed/'
            let videoUrl = url + items[i].id.videoId
            list.push(videoUrl);
            ids.value = list;
          }
          console.log(ids)
          showVideos.value = true;
        })
      } else{
        console.log("Eroor ")
      }
    }
       const selectedDiv = (id) => {
         console.log(id)
         videoUrl.value = id
       }
    return { title, artist, showForm, handleSubmit, execute, showVideos, ids, selectedDiv, search, videoUrl}
  }
}
</script>

<style scoped>
  .add-song {
    text-align: center;
    margin-top: 40px;
  }
  form {
    max-width: 100%;
    text-align: left;
  }
  .search-input{
    width: 90%;
    margin: 20px 0;
  }
  .search-button{
    float: right;
    position: relative;
    top: -20px;;
  }
  .search-button img{
    height: 16px;
    width: 16px;
  }
  .card {
  background-color: transparent;
  color: white;
  padding: 0.5rem ;
  height: 15rem;
  z-index: 1;
}
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
.video-div{
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
.video-div::-webkit-scrollbar {
  width: 5px;
}

.video-div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary); 
}
 
.video-div::-webkit-scrollbar-thumb {
  background: green; 
  border-radius: 0px;
}

.video-div::-webkit-scrollbar-thumb:hover {
  background: #e0da8b; 
}
.video-frame{
  height: 100%;
  width: 80%;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 75px;
  left: -35px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.video-url{
  display: none;
}
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

</style>