<template>
  <div class="chat-window">
    <div v-if="error">{{ error }}</div>
    <div v-if="formattedDocuments" ref="messages" class="messages">
      <div v-for="doc in formattedDocuments" :key="doc.id" class="single" v-bind:style= "[user.displayName == doc.name ? {'display':'flex', 'flex-direction':'row-reverse', 'margin-right':'10px' } : {'display':'flex;'}]">
        <div class="chat-div" v-bind:style= "[user.displayName == doc.name ? {'background':'#e0da8b'} : {'background-color':'white'}]">
            <span class="created-at">{{ doc.createdAt }}</span>
            <span class="name" v-bind:style= "[user.displayName == doc.name ? {'color':'green'} : {'color':'var(--primary)'}]">{{ doc.name }}</span>
            <span class="message" >{{ doc.message }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import getCollection from '../composables/getCollection'
import { computed, onUpdated, ref } from 'vue'
import getUser from '../composables/getUser'
import { formatDistanceToNow } from 'date-fns'
export default {
  setup() {
    const { user } = getUser()
    const { error, documents } = getCollection('messages')
    const formattedDocuments = computed(() => {
      if (documents.value) {
        return documents.value.map(doc => {
          let time = formatDistanceToNow(doc.createdAt.toDate())
          return { ...doc, createdAt: time }
        })
      }
    })
    // auto-scroll to bottom of messages
    const messages = ref(null)
    onUpdated(() => {
      messages.value.scrollTop = messages.value.scrollHeight
    })
    return { error, documents, formattedDocuments, messages, user }
  }
}
</script>

<style scoped>
  .chat-window {
    padding-left: 10px;
  }
  .single {
    margin: 18px 0;
  }
  .created-at {
    display: block;
    color: #999;
    font-size: 12px;
    text-align: start;
    margin-bottom: 4px;
  }
  .chat-div{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    width: fit-content;
  }
  .name {
    font-weight: bold;
    margin-right: 6px;
  }
  .messages {
    max-height: 300px;
    overflow: auto;
    word-break: break-word;
  }
  .messages::-webkit-scrollbar {
  width: 5px;
}

.messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary); 
}
 
.messages::-webkit-scrollbar-thumb {
  background: green; 
  border-radius: 0px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: #e0da8b; 
}
</style>