<template>
  <div class="navbar">
    <nav>
      <img src="@/assets/logo.png"/>
      <h1><router-link :to="{ name: 'Home' }">Music Playlists</router-link></h1>
            <div class="links">
        <div v-if="user">
          <router-link :to="{ name: 'Home' }">Home</router-link>
          <router-link :to="{ name: 'CreatePlaylist' }">Create Playlist</router-link>
          <router-link :to="{ name: 'UserPlaylists' }">My Playlists</router-link>
          <span>Hi there, {{ user.displayName }}</span>
          <button @click="handleClick">Logout</button>
        </div>
        <div v-else>
          <router-link class="btn" :to="{ name: 'Signup' }">Signup</router-link>
          <router-link class="btn" :to="{ name: 'Login' }">Login</router-link>
        </div>
      </div>
    </nav>
      <button class="chat-button" v-if="user" v-on:click="ChatOpen = !ChatOpen"><img class="chat-button-img" v-if="!ChatOpen" src="@/assets/chat.png"/> <img v-if="ChatOpen" class="chat-button-img" src="@/assets/close.png"/></button>
      <div class="chat-div" v-if="user" v-show="ChatOpen"><Chatroom/></div>
  </div>
</template>

<script>
import { ref } from 'vue'
import getUser from '../composables/getUser'
import Chatroom from '../views/Chatroom.vue'
import useLogout from '../composables/useLogout'
import { useRouter } from 'vue-router'
export default {
    components: { Chatroom },
  setup() {
    const { user } = getUser()
    const { logout } = useLogout()
    const router = useRouter()
    let ChatOpen = ref(false);
    const handleClick = async () => {
      await logout()
      console.log('logged out')
      console.log(user.displayName)
      router.push({ name: 'Login' })
    }
    return { handleClick , user, ChatOpen }
  }
}
</script>

<style scoped>
  .navbar {
    padding: 16px 10px;
    margin-bottom: 60px;
    background: white;
  }
  nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  nav img {
    max-height: 60px;
  }
  nav h1 {
    margin-left: 20px;
  }
  nav .links {
    margin-left: auto;
  }
  nav .links a, button {
    margin-left: 16px;
    font-size: 14px;
  }
  span {
    font-size: 14px;
    display: inline-block;
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #eee;
  }
  .chat-button{
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 1;
  }
  .chat-button:hover .chat-button-img{
    filter: invert(1);
    transition: 1s ease-in;
  }
  .chat-button-img{
    height: 35px;
    transition: 1s ease-in;
  }
  .chat-div{
    background: var(--secondary);
    border: 1px solid var(--primary);
    position: fixed;
    bottom: 15px;
    right: 90px;
    height: 400px;
    width: 400px;
    z-index: 99;
  }
</style>